header {
    width: calc(100% - 64px);
    padding: 4px 32px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    outline: #00000031 1px solid;
    flex-direction: row;
    align-items: center;
    & nav {
        width: 160px;
        display: flex;
        justify-content: space-between;
    }
    & #logo {
        display: flex;
        align-items: center;
        color: black;
        text-decoration: none;
        transition: linear 0.1s;
        & h4 {
            width: 46px;
        }
        & svg {
            margin-bottom: -2px;
        }
        &:hover {
            color: #11582F;
        }
    }
}

#sideMenu {
    width: 210px;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    & div {
        width: 90%;
        margin-left: 10%;
        color: #000000a9;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    & h1 {
        & svg {
            margin-bottom: -5px;
            margin-right: 8px;
        }
    }
}